*{
    margin: 0;
    padding: 0;
}

/* Nav Bar */
nav{
    padding: 1vh 2vh 0vh 2vh;
    background-color: rgb(30, 75, 0);
    color: orange;
    font-size: large;
}

#navigation li {
    display: inline-block;
    justify-content:space-between;
    padding: 10px 20px 10px 20px;
    margin: 1px 10px 0px 15px;
    list-style: none;
}
#navigation li a{
    text-decoration: none;
    color: orange;
    font-size: larger;
}
#navigation img{
    height: 80px;
}

/* PAGE 1 */
#artist-1 {
    background: rgba(0, 0, 0, 0.6) url('https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1216628493?b=1&k=20&m=1216628493&s=170667a&w=0&h=XgGPQTxjdXuWOVHtTPo-zZziQG-qffO5_K4dppHpccI=');
    background-blend-mode: darken;
    margin: 0px 2px 0px 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

}
#artist-1 img{
    height: 500px;
    padding:5% 2% 4% 2%;
    display: block;
    margin-left: 65%;
    position: relative;
    border-radius: 20%;
}
.quote h1{
    color: orange;
    position: absolute; 
    top: 50%;
}
.quote p{
    position: absolute;
    color: white;
    top:60%;
    font-size: xx-large;
}

/* PAGE 2 */
#artist-2 {
    background: rgba(0, 0, 0, 0.6) url('https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1216628493?b=1&k=20&m=1216628493&s=170667a&w=0&h=XgGPQTxjdXuWOVHtTPo-zZziQG-qffO5_K4dppHpccI=');
    background-blend-mode: darken;
    margin: 0px 2px 0px 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
#artist-2 img{
    height: 500px;
    padding:1% 2% 8% 2%;
    margin-left: 65%;
    border-radius: 20%;
}
.quote-2 h1{
    color: orange;
    position: absolute; 
    top: 150%;
}
.quote-2 p{
    position: absolute;
    color: white;
    top:160%;
    font-size: xx-large;
}


/* PAGE 3 */
#artist-3 {
    background: rgba(0, 0, 0, 0.6) url('https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1216628493?b=1&k=20&m=1216628493&s=170667a&w=0&h=XgGPQTxjdXuWOVHtTPo-zZziQG-qffO5_K4dppHpccI=');
    background-blend-mode: darken;
    margin: 0px 2px 0px 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
#artist-3 img{
    height: 500px;
    padding:2% 2% 5% 2%;
    margin-left: 65%;
    border-radius: 20%;
}
.quote-3 h1{
    color: orange;
    position: absolute; 
    top: 280%;
}
.quote-3 p{
    position: absolute;
    color: white;
    top:290%;
    font-size: xx-large;
}
/* PAGE 4 */
#artist-4 {
    background: rgba(0, 0, 0, 0.6) url('https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1216628493?b=1&k=20&m=1216628493&s=170667a&w=0&h=XgGPQTxjdXuWOVHtTPo-zZziQG-qffO5_K4dppHpccI=');
    background-blend-mode: darken;
    margin: 0px 2px 0px 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
#artist-4 img{
    height: 500px;
    padding:1% 2% 5% 2%;
    margin-left: 65%;
    border-radius: 20%;
}
.quote-4 h1{
    color: orange;
    position: absolute; 
    top: 380%;
}
.quote-4 p{
    position: absolute;
    color: white;
    top: 390%;
    font-size: xx-large;
}