*{
    margin: 0;
    padding: 0;
}

/* Nav Bar */
nav{
    margin: 2vh 2vh 3vh 2vh; 
    background-color: rgb(34, 70, 10);
    color: orange;
    font-size: large;
}

#navigation li {
    display: inline-block;
    justify-content:space-between;
    padding: 10px 20px 10px 20px;
    margin: 5px 20px 5px 10px;
}
#navigation img{
    height: 80px;
}

/* PAGE 1 */